:root {
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
  --shedule: #E1AE4A;
  --cardColor: rgba(236, 236, 236, 0.64);
  --inputColor: rgba(40, 52, 62, 0.07);
}

.bottomnavWrapper {
  background-color: #1b2032; /* used to be 2C3E50 */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1!important;
}

.bottomnav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottomnav a.active {
  background-color: #0080ff;
  color: white;
}


.bottomnav button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Change the color of links on hover */
.bottomnav button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottomnav button.active {
  background-color: #0080ff;
  color: white;
}

.indvBtn {
  display: flex;
  flex-direction: column;
}

.indvBtn p {
  margin: 0;
}

.nav-labels {
  margin: 0;
}

@media (max-width: 767px) {
  .indvBtn p {
    margin: 0;
    display: none;
  }

  .nav-labels {
    margin: 0;
    display: none;
  }
}